<header id="site-header"{{#color}} class="{{color}}-player"{{/color}}>
  <a id="logo" href="/"><h1>qckchs</h1></a>
  <div>
    <button class="theme-toggle" data-on:click__prevent="toggleTheme()" aria-label="Toggle dark mode"></button>
    <a class="button header-link {{#edit_profile}}current{{/edit_profile}}" href="/profile">&#9812;</a>
    <a class="button header-link" href="/logout">&#10132;</a>
  </div>
</header>
