<header id="site-header"{{#color}} class="{{color}}-player"{{/color}}>
  <a id="logo" href="/"><h1>qckchs</h1></a>
  <div>
    <a class="button header-link {{#edit_profile}}current{{/edit_profile}}" href="/profile">profile</a>
    <a class="button header-link" data-on:click="clearPkAndReload()">logout</a>
  </div>
</header>
