<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/{{favicon_ico}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>qckchs</title>
    <link rel="stylesheet" href="/static/{{styles__modern_normalize_min_css}}">
    <link rel="stylesheet" href="/static/{{styles__qckchs_css}}">
    <script type="importmap">
      { "imports": { "datastar": "/static/{{scripts__datastar_js}}" } }
    </script>
    <script>
      if (localStorage.getItem('qckchs_theme') === 'dark') {
        document.documentElement.dataset.theme = 'dark'
      }
    </script>
  </head>
  <body>
    {{{content}}}
    <script type="module" src="/static/{{scripts__datastar_js}}"></script>
    <script src="/static/{{scripts__utils_js}}"></script>
    <script type="module" src="/static/{{scripts__board_js}}"></script>
    <script type="module" src="/static/{{scripts__clock_js}}"></script>
    <script>
      setPk(
        localStorage.getItem('qckchs_pk') ||
        Array.from(crypto.getRandomValues(new Uint8Array(16)), b => b.toString(16).padStart(2, '0')).join('')
      )
    </script>
  </body>
</html>
